
// .dx-datagrid .dx-row > td {
//     padding-top: 2px !important;
//     padding-bottom: 2px !important;
//     text-align: left !important; 
// }
// .dx-responsivebox-screen-lg, .dx-responsivebox{
//     padding: 20px !important;
// }
.main-3{
    width: 99.99%;
    margin: auto;
}
.btnStyle{
    background-color: #337ab7 !important;
    // font-size: 50px;
    margin: 3px;
}
