.dx-button-has-text .dx-button-content{
    padding: 0px !important;
}
.dx-button{
        height: 28px !important;
}
.dx-widget{
    font-size: 11px !important;
    font-weight: 400 !important;
    line-height: 1.2857 !important;
}