.form-container {
    margin: 10px 10px 30px;
}

.long-title h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.dx-layout-manager .dx-field-item:not(.dx-first-col) {
    padding-left: 1px !important;
}

.dx-layout-manager .dx-field-item:not(.dx-last-col){
    padding-right: 1px !important;
}
.dx-layout-manager .dx-field-item{
    padding-bottom: 0px !important;
    font-size: 11px !important;
}
.dx-texteditor.dx-editor-underlined .dx-placeholder::before,
.dx-texteditor.dx-editor-underlined .dx-texteditor-input{
    /* padding:6px !important; */
}
.dx-field-item:not(.dx-field-item-has-group):not(.dx-field-item-has-tabs):not(.dx-first-row):not(.dx-label-v-align){
    padding-top: 10px !important;
}
.dx-texteditor-input{
  
}

.dx-texteditor.dx-editor-underlined .dx-placeholder::before, .dx-texteditor.dx-editor-underlined .dx-texteditor-input{
    /* padding:6px !important; */
    padding: 0px 0px 6px !important;
}
.dx-dropdowneditor-icon::before{
    background-color: #8bc34a !important;
    color: white;
}